.TrendigCars {}

.HeaderSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderSectionText {
    font-size: 1.9rem;
    font-weight: bold;
    text-transform: capitalize;
}

.HeaderSectionBtn {
    display: flex;
    align-items: center;

    gap: 0.8rem;
}


.ArrowBtn {
    font-size: 1rem;
    padding: 0.2em;
    background: rgb(203, 203, 233);
    transition: all 0.2s ease-in-out;
}

.ArrowBtn:hover {
    background: rgb(123, 123, 236);
}

.TrendingCarsCard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    margin: 5em 0;
}