.CardMilage {}

.CardEngine {
    font-weight: bold;
    margin: 0.7em 0;
    font-size: 0.8rem;
}

.CardPrice {
    display: flex;
    gap: 0.6rem;
    font-size: 0.8rem;
}

.Btn {
    padding: 0.5em;
    border-radius: 0.2rem;
    font-weight: 500;
}

.PriceBtn {
    color: rgb(76, 76, 207);
    background: rgb(203, 203, 233);
}